*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    background-color: aqua;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.form{
    position: relative;
    display: grid;
}
span{
    display: grid;
    place-content: center;
    background-color: beige;
    border: 1px solid blue;
    color: black;
    height: 80px;
    width: 80px;
}
.value{
    height: 80px;
    width: 325px;
    padding: 10px;
    text-align: right;
    font-size: 25px;
    grid-column: span 4;
}
span:active{
    background-color: bisque;
    color: aqua;
}
.clear{
    background-color: blue;
}
.equal{
    background-color: red;
    height: 120px;
    margin-top: -50px;
    grid-row: span 2;
}
.kurung1{
    height: 30px;
    width: 40px;
}
.kurung2{
    height: 30px;
    width: 40px;
    top: 320px;
    position: absolute;
    right: 0px;
}